
/* Estilo do carrossel */

.content{
  background-color: var(--sub-fundo);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  color: var(--text)
}
.carousel {
    position: relative;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    max-height: 500px; 
    object-fit: cover; 
}


.carousel-images img {
    transition: opacity 1s ease-in-out;
}

.carousel-overlay {
  position: absolute;
  bottom: 0; /* fica na parte inferior */
  left: 0;
  width: 100%;
  color: white;
  margin: 10px 20px;
  padding: 15px 10;
}

.carousel-btn {
  background:var(--azul-claro);
  color: var(--fundo);
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 14px 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.carousel-btn:hover {
  background: var(--azul-escuro);
}

/* Doação */

.doacao-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 60px 0;
}
.text-doacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--text);
}
.imagem-container {
  position: relative;
}

.doacao-img {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn-doar {
  background-color: var(--azul-claro);
  color: var(--text);
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 20px;
  display: block;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out; 
  opacity: 1; 
  text-decoration: none;
}


.btn-doar:hover {
  background-color:var(--azul-escuro);   
  transform: scale(1.1);
  opacity: 0.7; 
}



/* about e projetos do home*/

.img-sobrenos {
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.img-sobrenos img {
  width: calc(25% - 7.5px); 
  height: 200px; 
  object-fit: cover; 
}
 a{
  text-decoration: none;
 }

.img-sobrenos img {
  transition: transform 0.3s ease-in-out; 
  transform: scale(1); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
}

.img-sobrenos img:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  z-index: 10; 
}



/* botoes  */

.botoes-galeria-acao {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin: 40px 0;
}


.btn-acao {
    display: inline-block; 
    padding: 12px 25px;
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.btn-acao.primario {
    background-color: var(--azul-claro); 
    color: #ffffff; 
    border: 2px solid var(--azul-claro); 
}

.btn-acao.primario:hover {
    background-color: var(--azul-escuro); 
    transform: translateY(-2px);
}


.btn-acao.secundario {
    background-color: transparent; 
    color: #0077b6;
    border: 2px solid var(--azul-claro); 
}

.btn-acao.secundario:hover {
    background-color: #f0f8ff; 
    color: var(--azul-escuro); ;
    border-color: var(--azul-escuro); 
    transform: translateY(-2px);
}
.section-title{
  margin:50px 20px;
}
section.latest-post.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
  color: var(--text)
}
section.post-card{
  background-color: var(--fundo);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* parte do fb */
.rede-section {
    margin: 60px auto 120px auto;
    padding: 50px 20px;
    background: var(--fundo); 
    border-radius: 20px;
    text-align: center;
    max-width: 900px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);

}

.rede-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--azul-escuro); ;
    margin-bottom: 10px;
}

.rede-subtitle {
    font-size: 1rem;
    color: var(--text); 
    margin-bottom: 30px;
}

.midia-item {
    display: flex;
    justify-content: center;
}

.midia-card {
    padding: 20px;
    background: var(--fundo); ;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
     max-width: 500px;
}
@media (max-width: 768px){
  .doacao-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-sobrenos img {
  width: calc(50% - 10px);
  height: 200px; 
  object-fit: cover; 
}
  section.latest-post.container{
    grid-template-columns: 1fr;
  }
}
